{% extends "default.html" %}
{% block title %}Components{% endblock %}

{% block content %}

<h2>Components</h2>

{% if components|length == 0 %}
<p>
  There are no components stored.
</p>
{% else %}
<table class="table table-hover table-responsive">
  <tr class="row">
    <th class="col-sm-1">AppStream ID</th>
    <th class="col-sm-2">Review Count</th>
    <th class="col-sm-2">Fetch Count</th>
  </tr>
{% for component in components %}
  <tr class="row">
    <td>{{component.app_id}}</td>
    <td>{{component.review_cnt}}</td>
    <td>{{component.fetch_cnt}}</td>
  </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
