body {
  background: #fefeff;
  color: #000000;
  font-family: "Open Sans", Sans-Serif;
  font-weight: 300;
  max-width: 100em;
  margin: 0em auto;
  padding: 0 2em;
  line-height: 150%;
}

h1, h2, h3 {
  color: #000000;
  font-family: "Open Sans", Sans-Serif;
  font-weight: 300;
}

.history th {
  font-size: 120%;
  white-space: nowrap;
  padding-right: 1em;
  text-align: left;
}

.important {
  color: #ff0000;
}

.history td {
  padding: .5em .5em .5em 0;
}

a:hover {
  color: #147;
  text-decoration: none;
}

a {
  color: #147;
  text-decoration: none;
}

ul.navigation {
  list-style-type: none;
  margin: 1em -1em 2em;
  padding: 0;
  overflow: hidden;
  box-shadow: inset 0 -1px #ececec;
}

li.navigation {
  float: left;
}

li.navigation2 {
  float: right;
}

a:link.navigation, a:visited.navigation {
  display: block;
  width: 8em;
  color: #4c4c4c;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

a:hover.navigation {
  color: #0c0c0c;
  border-bottom-color: #9c9c9c;
}

a:active.navigation {
  color: #3e78b4;
  border-bottom-color: #3e78b4;
}

textarea {
  vertical-align: middle;
}

button.inline {
  vertical-align: middle;
  display: inline-block;
  float: right;
}

button.action {
  background-color: #555555;
  border: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

button.destructive-action {
  background-color: #f44336;
  border: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}
