{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block page_header %}
<h1>Analytics</h1>
{% endblock %}

{% block content %}
<script src="/static/Chart.js"></script>
<script>
Chart.defaults.global.animation = false;
</script>
{% endblock %}

<!-- dynamic content -->
{% block dyncontent %}

<h2>Review Activity (day)</h2>
<p>
This graph shows the number of review requests handled by this site (grey),
the number of users accessing this service per day (blue) and the number
of submitted reviews (red).
</p>
{{dyncontent_perday|safe}}

<h2>Review Activity (month)</h2>
<p>
This graph shows the same requests handled by this service for each month.
Clients typically cache metadata for 30 days and then will re-request
reviews as required.
</p>
{{dyncontent_permonth|safe}}

{% endblock %}
