{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block page_header %}
<h1>Analytics</h1>
{% endblock %}

{% block content %}
<script src="/static/Chart.js"></script>
<script>
Chart.defaults.global.animation = false;
</script>

<h2>Review Activity (day)</h2>
<p>
This graph shows the number of review requests and the number of submitted reviews.
</p>

<canvas id="reviewsChart" width="1200" height="400"></canvas>
<script>
var ctx = document.getElementById("reviewsChart").getContext("2d");
var data = {
    labels: {{labels|safe}},
    datasets: [
        {
            label: "Requests",
            fillColor: "rgba(20,120,220,0.2)",
            strokeColor: "rgba(20,120,120,0.1)",
            pointColor: "rgba(20,120,120,0.3)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: {{data_requests|safe}}
        },
        {
            label: "Submitted",
            fillColor: "rgba(251,14,5,0.2)",
            strokeColor: "rgba(151,14,5,0.1)",
            pointColor: "rgba(151,14,5,0.3)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: {{data_submitted|safe}}
        },
    ]
};
var myLineChartDays = new Chart(ctx).Line(data, null);
</script>

{% endblock %}
