{% extends "default.html" %}
{% block title %}Review #{{ review_id }}{% endblock %}

{% block content %}

<form name="myform" action="/admin/modify/{{ r.review_id }}" method="POST">
<table>
  <tr>
    <th>Application</th>
    <td>
      <textarea cols="40" rows="1" name="app_id">{{ r.app_id }}</textarea>
{% if current_user.is_authenticated %}
      <a href="/admin/show/app/{{ r.app_id }}">
        <button class="inline" type="button">Show All</button>
      </a>
{% endif %}
    </td>
  </tr>
  <tr>
    <th>Rating</th>
    <td>{{ format_rating(r.rating) }}</td>
  </tr>
  <tr>
    <th>Created</th>
    <td>{{ format_timestamp(r.date_created) }}</td>
  </tr>
  <tr>
    <th>Removed</th>
    <td>
      {{ format_timestamp(r.date_deleted) }}
{% if current_user.is_authenticated %}
{% if r.date_deleted %}
      <a href="/admin/unremove/{{ r.review_id }}">
        <button class="inline" type="button">Unremove</button>
      </a>
{% endif %}
{% endif %}
    </td>
  </tr>
  <tr>
    <th>Karma</th>
    <td>{{ r.karma_up }}&uarr;, {{ r.karma_down }}&darr;</td>
  </tr>
  <tr>
    <th>Reported</th>
    <td>
      {{ r.reported }}
{% if current_user.is_authenticated %}
{% if r.reported > 0 %}
      <a href="/admin/unreport/{{ r.review_id }}">
        <button class="inline" type="button">Unreport</button>
      </a>
{% endif %}
{% endif %}
    </td>
  </tr>
  <tr>
    <th>User Hash</th>
    <td>
      <textarea cols="40" rows="1" name="user_hash">{{ r.user_hash }}</textarea>
{% if current_user.is_authenticated %}
      <a href="/admin/show/user/{{ r.user_hash }}">
        <button class="inline" type="button">Show All</button>
      </a>
{% endif %}
    </td>
  </tr>
  <tr>
    <th>User Display</th>
    <td>
{% if r.user_display %}
      <textarea cols="40" rows="1" name="user_display">{{ r.user_display }}</textarea>
{% if current_user.is_authenticated %}
      <a href="/admin/anonify/{{ r.review_id }}">
        <button class="inline" type="button">Anonify</button>
      </a>
{% endif %}
{% else %}
      <textarea cols="40" rows="1" name="user_display"></textarea>
{% endif %}
    </td>
  </tr>
  <tr>
    <th>Locale</th>
    <td>
      <textarea cols="10" rows="1" name="locale">{{ r.locale }}</textarea>
{% if current_user.is_authenticated %}
      <a href="/admin/show/lang/{{ r.locale }}">
        <button class="inline" type="button">Show All</button>
      </a>
{% if not r.locale.startswith('en_') %}
      <a href="/admin/englishify/{{ r.review_id }}">
        <button class="inline" type="button">Englishify</button>
      </a>
{% endif %}
{% endif %}
    </td>
  </tr>
  <tr>
    <th>Version</th>
    <td>
      <textarea cols="80" rows="1" name="version">{{ r.version }}</textarea>
    </td>
  </tr>
  <tr>
    <th>Distro</th>
    <td>
      <textarea cols="80" rows="1" name="distro">{{ r.distro }}</textarea>
    </td>
  </tr>
  <tr>
    <th>Summary</th>
    <td>
      <textarea cols="80" rows="1" name="summary">{{ r.summary }}</textarea>
    </td>
  </tr>
  <tr>
    <th>Description</th>
    <td>
<textarea cols="80" rows="20" name="description">{{ r.description }}</textarea>
    </td>
  </tr>
</table>

{% if current_user.is_authenticated %}
<button class="action" type="submit">Modify</button>
{% endif %}

</form>

<a href="/admin/review/{{ r.review_id + 1 }}">
<button class="action" type="button">Next</button>
</a>
<a href="/admin/review/{{ r.review_id - 1 }}">
<button class="action" type="button">Previous</button>
</a>

{% if current_user.is_authenticated %}
<a href="/admin/delete/{{ r.review_id }}">
<button class="destructive-action" type="submit">Delete</button>
</a>

{% endif %}

{% endblock %}
