{% extends "default.html" %}
{% block title %}All Reviews{% endblock %}

{% block page_header %}
<h1>All Reviews</h1>
{% endblock %}

{% block content %}

{% if reviews|length == 0 %}
<p>
  There are no results for this query.
</p>
{% else %}
<table class="history">
  <tr>
    <th>#</th>
    <th>Created / Deleted</th>
    <th>Application</th>
    <th>Version</th>
    <th>Rating</th>
    <th>K&uarr;</th>
    <th>K&darr;</th>
    <th>Distro</th>
    <th>Locale</th>
    <th>Name</th>
    <th>Summary</th>
    <th>Description</th>
  </tr>

{% for r in reviews %}
  <tr>
    <td class="history"><a href="/admin/review/{{ r.review_id }}">{{ r.review_id }}</a></td>
    <td class="history">
      {{ format_timestamp(r.date_created) }}
{% if r.date_deleted %}
      <br/>
      <i class="important">{{ format_timestamp(r.date_deleted) }}</i>
{% endif %}
    </td>
    <td class="history">{{ r.app_id.replace('.desktop', '') }}</td>
    <td class="history">{{ r.version }}</td>
    <td class="history">{{ format_rating(r.rating) }}</td>
    <td class="history">{{ r.karma_up }}</td>
{% if r.reported > 0 %}
    <td class="history"><i class="important">{{ r.karma_down }}</i></td>
{% else %}
    <td class="history">{{ r.karma_down }}</td>
{% endif %}
    <td class="history">{{ r.distro }}</td>
    <td class="history">{{ r.locale }}</td>
{% if r.user_display %}
    <td class="history">{{ r.user_display }}</td>
{% else %}
    <td class="history"><i>Unknown</i></td>
{% endif %}
    <td class="history">{{ format_truncate(r.summary, 20) }}</td>
    <td class="history">{{ format_truncate(r.description, 40) }}</td>
  </tr>
{% endfor %}

</table>

{% macro render_pagination(pagination) %}
  <div class=pagination>
  {% if pagination.has_prev %}
    <a href="{{ url_for_other_page(pagination.page - 1) }}">
      &laquo;</a>
  {% else %}
    &laquo;
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="{{ url_for_other_page(pagination.page + 1)
      }}">&raquo;</a>
  {% else %}
    &raquo;
  {% endif %}
  </div>
{% endmacro %}

{% if pagination %}
{{render_pagination(pagination)}}
{% endif %}

{% endif %}


{% endblock %}
