{% extends "default.html" %}
{% block title %}Moderators{% endblock %}

{% block content %}

<h2>Moderators</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Display Name</th>
    <th>Email</th>
    <th>Is Enabled</th>
    <th>Is Admin</th>
    <th>User Hashes</th>
  </tr>
{% for u in mods %}
  <tr>
    <td> {{ u.moderator_id }} </td>
    <td><a href="/admin/moderator/{{u.username}}/admin">{{ u.username }}</a></td>
    <td> {{ u.display_name }} </td>
    <td> {{ u.email }} </td>
    <td> {{ u.is_enabled }} </td>
    <td> {{ u.is_admin }} </td>
    <td> {{ u.user_hash }} </td>
  </tr>
{% endfor %}
</table>

<h2>Create new</h2>
<form method="post" action="/admin/moderator/add" class="form">
<table>
  <tr>
    <th>Username:</th>
    <td><input type="text" class="form-control" name="username_new" required></td>
  </tr>
  <tr>
    <th>Password:</th>
    <td><input type="password" class="form-control" name="password_new" required></td>
  </tr>
  <tr>
    <th>Display Name:</th>
    <td><input type="text" class="form-control" name="display_name" required></td>
  </tr>
  <tr>
    <th>Contact Email:</th>
    <td><input type="text" class="form-control" name="email" required></td>
  </tr>
</table>
  <input type="submit" value="Add">
</form>


{% endblock %}
