{% extends "default.html" %}
{% block title %}Review #{{ r.review_id }}{% endblock %}

{% block content %}

<a href="/admin/review/{{ r.review_id - 1 }}">
  <button class="action" type="button">&lt;&lt;</button>
</a>
<a href="/admin/review/{{ r.review_id + 1 }}">
  <button class="action" type="button">&gt;&gt;</button>
</a>

<form name="myform" action="/admin/modify/{{ r.review_id }}" method="POST">
<table>

<br/>
{% if current_user.is_authenticated %}
  <tr>
    <th>Actions</th>
    <td colspan="5">
{% if current_user.user_hash and not vote_exists %}
      <a href="/admin/vote/{{r.review_id}}/up">
        <button class="action" type="button">Vote Up</button>
      </a>
      <a href="/admin/vote/{{r.review_id}}/down">
        <button class="action" type="button">Vote Down</button>
      </a>
      <a href="/admin/vote/{{r.review_id}}/meh">
        <button class="action" type="button">Meh</button>
      </a>
{% endif %}
      <a href="/admin/delete/{{r.review_id}}">
        <button class="destructive-action" type="submit">Remove Forever</button>
      </a>
    </td>
  </tr>
{% endif %}
  <tr>
    <th>Application</th>
    <td colspan="5">
      <textarea cols="75" rows="1" name="app_id">{{ r.app_id }}</textarea>
{% if current_user.is_authenticated %}
      <a href="/admin/show/app/{{ r.app_id }}">
        <button class="inline" type="button">All</button>
      </a>
{% endif %}
    </td>
  </tr>
  <tr>
    <th>Rating</th>
    <td>{{ format_rating(r.rating) }}</td>
    <th>Karma</th>
    <td>
      {{ r.karma_up }}&uarr;, {{ r.karma_down }}&darr;
{% if r.reported > 0 %}
      (reported {{ r.reported }})
{% if current_user.is_authenticated %}
      <a href="/admin/unreport/{{ r.review_id }}">
        <button class="inline" type="button">Unreport</button>
      </a>
{% endif %}
{% endif %}
    </td>
    <th>Created</th>
    <td>
      {{ format_timestamp(r.date_created) }}
{% if r.date_deleted %}
      (deleted {{ format_timestamp(r.date_deleted) }})
{% if current_user.is_authenticated %}
      <a href="/admin/unremove/{{ r.review_id }}">
        <button class="inline" type="button">Unremove</button>
      </a>
{% endif %}
{% endif %}
    </td>
  </tr>
  <tr>
    <th>User Display</th>
    <td colspan="5">
{% if r.user_display %}
{% if current_user.is_authenticated %}
      <em>Names cannot be offensive or trademarks<br/></em>
{% endif %}
      <textarea cols="60" rows="1" name="user_display">{{ r.user_display }}</textarea>
{% if current_user.is_authenticated %}
      <a href="/admin/anonify/{{ r.review_id }}">
        <button class="inline" type="button">Anonify</button>
      </a>
{% endif %}
{% else %}
      <textarea cols="20" rows="1" name="user_display"></textarea>
{% endif %}
{% if current_user.is_authenticated %}
      <a href="/admin/show/user/{{ r.user_hash }}">
        <button class="inline" type="button">All</button>
      </a>
      <a href="/admin/user_ban/{{ r.user_hash }}">
        <button class="inline" type="button">Ban</button>
      </a>
{% endif %}
    </td>
  </tr>
  <tr>
    <th>Locale</th>
    <td>
      <textarea cols="10" rows="1" name="locale">{{ r.locale }}</textarea>
{% if current_user.is_authenticated %}
      <a href="/admin/show/lang/{{ r.locale }}">
        <button class="inline" type="button">All</button>
      </a>
{% if not r.locale.startswith('en_') %}
      <a href="/admin/englishify/{{ r.review_id }}">
        <button class="inline" type="button">Englishify</button>
      </a>
{% endif %}
{% endif %}
    </td>
    <th>Version</th>
    <td>
      <textarea cols="15" rows="1" name="version">{{ r.version }}</textarea>
    </td>
<!--
  </tr>
  <tr>
-->
    <th>Distro</th>
    <td>
      <textarea cols="15" rows="1" name="distro">{{ r.distro }}</textarea>
    </td>
  </tr>
  <tr>
    <th>Summary</th>
    <td colspan="5">
{% if current_user.is_authenticated %}
      <em>This should start with a capital letter and not end with a full stop</em><br/>
{% endif %}
      <textarea cols="80" rows="1" name="summary">{{ r.summary }}</textarea>
    </td>
  </tr>
  <tr>
    <th>Description</th>
    <td colspan="5">
{% if current_user.is_authenticated %}
      <em>
        This should start with a capital letter and each sentance should end with a full stop.<br/>
        Please remove any incorrect content, and correct spelling, and grammar where required.
      </em><br/>
{% endif %}
      <textarea cols="80" rows="20" name="description">{{ r.description }}</textarea>
      <br/>
{% if current_user.is_authenticated %}
      <button class="action" type="submit">Modify</button>
{% endif %}
    </td>
  </tr>
</table>
</form>

{% endblock %}
